<%= render partial: 'blog/home/shared/header' %>
<%= render partial: 'blog/home/shared/categories_area' %>

    <!-- ****** Blog Area Start ****** -->
    <section class="blog_area section_padding_0_80">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <div class="row">
                        
                        <%= render partial: 'blog/home/shared/single_post_large' %>
                        
                        <%= render partial: 'blog/home/shared/single_post_medium_newest' %>
                        
                        <%= render partial: 'blog/home/shared/single_post_medium_oldest' %>

                    </div>
                </div>

                <!-- ****** Blog Sidebar ****** -->
                <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                    <div class="blog-sidebar mt-5 mt-lg-0">

                       <%= render partial: 'blog/home/shared/owner_info' %>
                       
                       <%= render partial: 'blog/home/shared/subscribe_side' %>
                       
                       <%= render partial: 'blog/home/shared/popular_posts' %>
                       
                       <%= render partial: 'blog/home/shared/newsletter' %>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ****** Blog Area End ****** -->

    <%= render partial: 'blog/home/shared/footer' %>
    
</body>
