<% @categories.each do |category| %>
<%= image_tag category.avatar.url %>
<h3> <%= category.description %> </h3>
<%= link_to "#{t('created_at')}: #{category.created_at.strftime("%B %d, %Y")}", '#'  %>
<%= link_to "#{t('updated_at')}: #{category.updated_at.strftime('%B %d, %Y')}", '#'  %>
<%= link_to "#{t('posts_number')}: #{category.posts.count}", '#' %>
<%= link_to t('confirmations.edit.category'), edit_backoffice_category_path(category) %>
<%= confirm_link_to t('confirmations.destroy.category'),
										backoffice_category_path(category),
										options: {title: category.description} %>
<% end %>