<%= form_for [:backoffice, @blog], url: {action: "update"} do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  
  <div>
    <%= f.label :body %>
    <%= f.text_area :body, as: :text %>
  </div>
  
  <div>
    <%= f.label :category_id %>
    <%= f.collection_select :category_id, Category.all, :id, :description, {} %>
  </div>
  
  <div>
    <%= f.label :images %>
    <%= f.file_field :images, multiple: true %>
  </div>
  
  <div>
    <%= submit_tag t('edit') %>
  </div>
<% end %>