<% @blogs.each do |blog| %>
  <h3> <%= blog.title %> </h3>
  <%= link_to blog.admin.admin_profile.name, '#'  %>
  <p> <%= truncate(blog.body, length: 100) %> </p>
  <%= link_to "#{t 'created_at'}: #{blog.created_at.strftime('%B %d, %Y')}", '#'  %>
  <% unless blog.created_at == blog.updated_at %>
    <%= link_to "#{t 'updated_at'}: #{blog.updated_at.strftime('%B %d, %Y')}", '#'  %>
  <% end %>
  <%= image_tag blog.images.first.url %>
  <%= link_to t('blog_confirm.edit'), edit_backoffice_blog_path(blog) %>
  <%= destroy_blog_link_to t('destroy_confirm.blog'), backoffice_blog_path(blog),
      options: {title: blog.title} %>
<% end %>

